<mat-card>
  <mat-card-content>
    <form #formGroup="ngForm" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-card-subtitle> Sign in with your account</mat-card-subtitle>
      <mat-form-field class="full-width-input">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="johnDoe@example.com" id="username" type="email" name="username" maxlength="255"  required email #email="">
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>Enter your password</mat-label>
        <input matInput id="password" type="password" name="password" maxlength="255"  required #password="">
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" id="login"
              type="submit" [disabled]="formGroup.invalid">Login</button>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-subtitle>Don't have an account? <a [routerLink]="['/register']">Sign up here</a></mat-card-subtitle>
  </mat-card-footer>
</mat-card>
