<div class="row hide-on-med-and-down" style="margin-top: 20px">
  <div class="col s12">
    <a class="waves-effect waves-light btn" style="visibility: hidden">New Product</a>
  </div>
</div>
<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
      <mat-form-field>
        <mat-label>Internationale titel</mat-label>
        <input matInput id="englishTitle" type="text" formControlName="englishTitle" maxlength="255"  required>
        <mat-error>
          Internationale titel is verplicht
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Originele Titel</mat-label>
        <input matInput id="originalTitle" type="text" maxlength="255" formControlName="originalTitle">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Geromaniseerde titel</mat-label>
        <input matInput id="romanizedOriginalTitle" maxlength="255" type="text" formControlName="romanizedOriginalTitle">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Speelduur</mat-label>
        <input matInput type="text" id="runtime" formControlName="runtime" maxlength="15" required>
        <mat-error>
          Speelduur is verplicht
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Poster</mat-label>
        <input matInput id="poster" type="text" formControlName="poster" #imagePath maxlength="255" required>
        <mat-error>
          Poster is verplicht.
        </mat-error>
      </mat-form-field>

      <img *ngIf="imagePath.value" [src]="imagePath.value" class="responsive-img" alt="poster">

      <mat-form-field class="full-width-input">
        <mat-label>Plot</mat-label>
        <textarea matInput rows="4" formControlName="plot" maxlength="500" required ></textarea>
        <mat-error>Plot is verplicht.</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <mat-label>Jaar</mat-label>
        <input matInput type="text" class="date-picker" id="year" formControlName="year" required >
        <mat-error>Jaar is verplicht.</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <mat-label>Prijs</mat-label>
        <input matInput type="number" id="price" formControlName="price" required  min="0.01" max="999999.99">
        <mat-error>Prijs is verplicht.</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <mat-label>Trailer</mat-label>
        <input matInput type="text" id="trailer" formControlName="trailer" required  minlength="1" maxlength="85">
        <mat-error>Trailer is verplicht.</mat-error>
      </mat-form-field>


      <div formArrayName="productDirectors">
        <div class="array">
          <div *ngFor="let director of directors; let i = index" [formGroupName]="i" class="row-container">
            <div class="rij">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput type="text" id="name" formControlName="name" minlength="1" maxlength="255" required >
              </mat-form-field>
              <button mat-icon-button color="warn" (click)="onDeleteDirector(i,director.value.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <button mat-raised-button type="button" color="accent" (click)="onAddDirector()"><mat-icon>add</mat-icon> Regisseur toevoegen</button>
      </div>


        <div formArrayName="productImages">
          <div class="array">
            <div *ngFor="let image of images; let i = index" [formGroupName]="i" class="row-container">
              <div class="rij">
                <mat-form-field>
                  <mat-label>Path</mat-label>
                  <input matInput type="text" minlength="1" maxlength="255" id="path" formControlName="path" required >
                </mat-form-field>
                <button mat-icon-button color="warn" (click)="onDeleteImage(i,image.value.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                <img [src]="image.value.path" class="preview-image"/>
              </div>
            </div>
          </div>
          <button mat-raised-button type="button" color="accent" (click)="onAddImage()"><mat-icon>add</mat-icon> Afbeelding toevoegen</button>
        </div>

      <div class="buttons">
        <button mat-raised-button color="primary" type="submit" name="action" [disabled]="!productForm.valid">
          Opslaan
        </button>
        <button mat-raised-button color="accent" type="button" name="action" (click)="onCancel()">Annuleren</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
