<div id="main">
  <button mat-raised-button color="basic" [routerLink]="['/order-admin']"><mat-icon>all_inbox</mat-icon><br>Bestellingen</button>
  <button mat-raised-button color="basic" [routerLink]="['/user-management']"><mat-icon>supervisor_account</mat-icon><br>Gebruikers</button>
  <button mat-raised-button color="basic" [routerLink]="['/product-management']"><mat-icon>store</mat-icon><br>Producten</button>
  <button mat-raised-button color="basic" [routerLink]="['/admin']"><mat-icon>email</mat-icon><br>Inbox</button>
</div>
