<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="left-menu" fxHide.xs>
    <a [routerLink]="['/home']">Home</a>
    <a [routerLink]="['/products']">Producten</a>
    <a [ngClass]="{invisible: !(this.authService.isAuthenticated() && this.authService.isAuthorized())}" [routerLink]="['/admin']">Admin omgeving</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li routerLinkActive="active">
        <a [routerLink]="['/order']">
          <mat-icon>shopping_cart</mat-icon>
        </a>
      </li>
      <li [ngClass]="{invisible: !(this.authService.isAuthenticated())}">
        <a *ngIf="this.authService.getName()" [routerLink]="['/profile/' + this.authService.getUserId() ]">
          <mat-icon>account_circle</mat-icon>
        </a>
      </li>
      <li [ngClass]="{invisible: !(this.authService.isAuthenticated())}">
        <a (click)="logout()"><mat-icon>power_settings_new</mat-icon></a>
      </li>
    </ul>
  </div>
</mat-toolbar>
