<!--<mat-card>-->
<!--  <mat-card-header>-->
<!--    <div mat-card-avatar [style]="{'background-image': 'url('+product.poster+')'}" class="example-header-image"></div>-->
<!--    <mat-card-title>{{product.englishTitle}}</mat-card-title>-->
<!--    <mat-card-subtitle>{{product.year}}</mat-card-subtitle>-->
<!--  </mat-card-header>-->
<!--  <mat-card-content>-->
<!--    <p>-->
<!--      {{ (product.plot.length>500)? (product.plot | slice:0:500)+'..':(product.plot) }}-->
<!--    </p>-->
<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->
<!--    <mat-button-toggle-group style="border: none">-->
<!--      <mat-button-toggle [routerLink]="[id]" (click)="onToggleDetails()">DETAILS</mat-button-toggle>-->
<!--    </mat-button-toggle-group>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->

<mat-card [routerLink]="[id]" (click)="onToggleDetails()">
  <div class="title">
    <h3>{{product.englishTitle}}</h3>
  </div>
  <div class="img-wrapper">
    <img [src]="product.poster" alt="{{product.englishTitle}}">
  </div>
  <div class="content">
    <p>{{product.year}}</p>
  </div>
</mat-card>
