section {
  margin-bottom: 60px;
}

div.card-footer {
  background-color: transparent;
  border: none;
}

div.card-body {
  padding: 14px;
}
section.trailer {
  iframe {
    width: 100%;
    height: 400px;
  }
}
youtube-player {
  overflow: hidden;
}

img.poster {
  width: 100%;
}
span.directed-by {
  text-transform: uppercase;
}

span.director-loop {
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  section.trailer {
    iframe {
      width: 100%;
      height: 350px !important;
    }
  }
}
@media only screen and (max-width: 480px) {
  section.trailer {
    iframe {
      width: 100%;
      height: 250px !important;
    }
  }
}
