<section class="mat-elevation-z8 mat-typography">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="poster" [src]="product.poster" alt="{{product.englishTitle}}" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <mat-card-title>{{product.englishTitle}}</mat-card-title>
          <mat-card-subtitle *ngIf="product.originalTitle && product.romanizedOriginalTitle">{{product.originalTitle}} | {{product.romanizedOriginalTitle}}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="this.xor(product.originalTitle, product.romanizedOriginalTitle)"><span *ngIf="product.originalTitle">{{product.originalTitle}}</span><span *ngIf="product.romanizedOriginalTitle">{{product.romanizedOriginalTitle}}</span></mat-card-subtitle>
          <p class="card-text"><p><span class="directed-by">Geregisseerd door</span>
          <span class="director-loop" *ngFor="let director of product.productDirectors ; last as isLast"> <span *ngIf="!isLast"> {{director.name}},</span>  <span *ngIf="isLast"> {{director.name}}</span> </span>
        </p>
          <p>{{product.year}} | {{product.runtime}} mins
          <p>{{product.plot}}</p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button mat-button>Prijs: €{{product.price}}</button>
      <button mat-button (click)="toShoppingList()">TOEVOEGEN AAN WINKELMANDJE</button>
    </div>
  </div>
</section>

<section class="mat-elevation-z8">
  <mat-carousel
    timings="200ms ease-in"
    [autoplay]="true"
    [interval]="6000"
    color="accent"
    [hideIndicators]="false"
    [hideArrows]="false"
    maxWidth="auto"
    [proportion]="45"
    >
    <mat-carousel-slide
      *ngFor="let slide of slides; let i = index"
      [image]="slide.path"
      [hideOverlay]="false"
    ></mat-carousel-slide>
  </mat-carousel>
</section>

<section class="mat-elevation-z8 trailer">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" [src]="'https://www.youtube.com/embed/' + product.trailer | safe"></iframe>
  </div>
</section>


