<section class="mat-elevation-z8 mat-typography">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="poster" [src]="product.poster" alt="{{product.englishTitle}}" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <mat-card-title>{{product.englishTitle}}</mat-card-title>
          <mat-card-subtitle *ngIf="product.originalTitle && product.romanizedOriginalTitle">{{product.originalTitle}} | {{product.romanizedOriginalTitle}}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="this.xor(product.originalTitle, product.romanizedOriginalTitle)"><span *ngIf="product.originalTitle">{{product.originalTitle}}</span><span *ngIf="product.romanizedOriginalTitle">{{product.romanizedOriginalTitle}}</span></mat-card-subtitle>
          <p class="card-text"><p><span class="directed-by">Directed By</span>
          <span class="director-loop" *ngFor="let director of product.productDirectors ; last as isLast"> <span *ngIf="!isLast"> {{director.name}},</span>  <span *ngIf="isLast"> {{director.name}}</span> </span>
        </p>
          <p>{{product.year}} | {{product.runtime}} mins
          <p>{{product.plot}}</p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button mat-button>Price: €{{product.price}}</button>
      <button mat-button (click)="toShoppingList()">ADD TO SHOPPING CART</button>
    </div>
  </div>
</section>

<section class="mat-elevation-z8">
  <ngb-carousel [animation]="false">
    <ng-template ngbSlide *ngFor="let image of product.productImages">
      <div class="picsum-img-wrapper">
        <img [src]="image.path" [alt]="image.description" />
      </div>
    </ng-template>
  </ngb-carousel>
</section>

<section class="mat-elevation-z8 trailer">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" [src]="'https://www.youtube.com/embed/' + product.trailer | safe"></iframe>
  </div>
</section>


