@font-face {
  font-family: Mercury;
  src: url(assets/fonts/mercury-r/mercury-display-roman.otf) format("opentype");
}

@font-face {
  font-family: Mercury-Italic;
  src: url(assets/fonts/mercury-i/mercury-display-italic.ttf) format("opentype");
}

@font-face {
  font-family: Gotham-Narrow-Bold;
  src: url("assets/fonts/gotham-narrow-bold/gotham-narrow-bold.otf") format("opentype");
}
