<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <h2>Checkout</h2>
      <mat-card-subtitle> Fill in the required form fields</mat-card-subtitle>
      <mat-form-field class="full-width-input">
        <mat-label>Enter your address</mat-label>
        <input matInput placeholder="Burgemeester dijkstraat 23" type="text" formControlName="address" maxlength="100" required autocomplete="off">
        <mat-error *ngIf="checkoutForm.get('address')?.hasError('required')">
          You must enter an address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>Enter your zipcode</mat-label>
        <input matInput placeholder="2536 JK" type="text" formControlName="zipcode" maxlength="100" required autocomplete="off">
        <mat-error *ngIf="checkoutForm.get('zipcode')?.hasError('required')">
          You must enter a zipcode
        </mat-error>
        <mat-error *ngIf="checkoutForm.get('zipcode')?.hasError('pattern')">
          Zipcode is not valid
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>Enter your city</mat-label>
        <input matInput placeholder="Amsterdam" type="text" formControlName="city" maxlength="100" required autocomplete="off">
        <mat-error *ngIf="checkoutForm.get('city')?.hasError('required')">
          You must enter a city
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Payment method</mat-label>
        <mat-select formControlName="paymentMethod" required>
          <mat-option *ngFor="let method of paymentMethods" [value]="method.name">
            {{ method.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" id="login"
              type="submit" [disabled]="checkoutForm.invalid">Place order</button>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button color="warn" (click)="cancelCheckout()">Cancel checkout</button>
  </mat-card-footer>
</mat-card>
