<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <h2>Checkout</h2>
      <mat-card-subtitle> Vul de verplichten velden in</mat-card-subtitle>
      <mat-form-field class="full-width-input">
        <mat-label>Voer uw adres in</mat-label>
        <input matInput placeholder="Burgemeester dijkstraat 23" type="text" formControlName="address" maxlength="100" required autocomplete="off">
        <mat-error *ngIf="checkoutForm.get('address')?.hasError('required')">
          Adres is verplicht
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>Voer uw postcode in</mat-label>
        <input matInput placeholder="2536 JK" type="text" formControlName="zipcode" maxlength="100" required autocomplete="off">
        <mat-error *ngIf="checkoutForm.get('zipcode')?.hasError('required')">
          Postcode is verplicht
        </mat-error>
        <mat-error *ngIf="checkoutForm.get('zipcode')?.hasError('pattern')">
          Postcode is niet geldig
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>Voer uw woonplaats in</mat-label>
        <input matInput placeholder="Amsterdam" type="text" formControlName="city" maxlength="100" required autocomplete="off">
        <mat-error *ngIf="checkoutForm.get('city')?.hasError('required')">
          Woonplaats is verplicht
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Betaalmethode</mat-label>
        <mat-select formControlName="paymentMethod" required>
          <mat-option *ngFor="let method of paymentMethods" [value]="method.name">
            {{ method.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" id="login"
              type="submit" [disabled]="checkoutForm.invalid">Bestelling plaatsen</button>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button color="warn" (click)="cancelCheckout()">Bestelling annuleren</button>
  </mat-card-footer>
</mat-card>
